body {
    margin: auto;
    width: 100vh;
    height: 100vh;
    /*100% viewport height*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

aside {
    color: #6D6968;
    padding: 20px;
    background-color: #BCC6CC	;
    text-align: center;
    font-size: 12px;
}

aside h1 {
    border: 3px #848482 solid;
    font-size: 25px
}

aside h2 {
    font-size: 15px;

}

aside h3 {
    border: 1px #848482 solid;

    font-size: 20px;
}

main {
    color: #1c2949;
    padding: 20px;
    background-color: #f0f4f7;
}

main h2 {
    text-align: center;
    border: 3px dimgray solid;
    font-size: 20px;
}

main ul {
    list-style: none;
    /* Remove default bullets */
}
main h2::before {
    content: "\261B";
    color: #1c2949;
    font-weight: bold;
    display: inline-block;
    width: 2em;
    margin-left: -1em;
}
main ul li::before {
    content: "\2713";
    /* Add content: \2713 is the CSS Code/unicode for a checkmark */
    color: #348caa;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
}

.container {
    padding: 15px;
}